.card{
	position: relative;

	padding: 5px 37px 59px;

	&:before{
		content: "";
		position: absolute;

		right: -2px;
		top: -2px;

		height: 42px;
		width: 42px;

		background: url(#{$other_pics_path}card-corner.jpg) no-repeat center / 100% auto;
	}

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	background-color: white;

	@media (#{$max_tablets}){
		padding: 5px 20px 40px;
	}
}

.card__link{
	@include clear_link;

	display: block;
	width: 90%;

	margin-bottom: 36px;
	color: $groom;

	transition: opacity 0.2s ease;

	&:hover{
		opacity: 0.8;
	}

	@media (#{$max_tablets}){
		float: left;
		width: 50%;

		padding-right: 30px;
	}
	@media (#{$max_ipad}){
		width: 100%;
		padding-right: 20px;
	}
}
.card__title{
	margin-bottom: 45px;
}
.card__text{
	color: $groom;
	font-size: (15em/16);
}
.card__date{
	display: block;

	margin-top: 10px;

	color: #828282;
	font-size: (12em/16);
	text-transform: uppercase;
}