.radio_box{
	padding-bottom: 15px;
}
.radio_box__input{
	display: none !important;
}
//placed inside a <label>
.radio_box__tick{
	display: inline-block;
	vertical-align: middle;
	position: relative;

	margin-right: 7px;
	border-radius: 50%;

	height: 20px;
	width: 20px;

	border: 1px solid #d1d1d1;
	background-color: white;

	cursor: pointer;

	&:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		opacity: 0;

		margin: auto;
		border-radius: 50%;

		transform: scale(0.7);

		width: 6px;
		height: 6px;

		background-color: $warn;

		transition: transform .3s ease, opacity .3s ease;
	}

	input:checked ~ label &{
		border-color: $warn;

		&:before{
			opacity: 1;

			transform: scale(1);
		}
	}
}
.radio_box__label{
	vertical-align: middle;

	font-size: (15em/16);

	cursor: pointer;
}
