.email-popup-div {
    display: none;
}

.email-sm {
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: 0;
    height: 330px;
    width: 740px;
    z-index: 800;
    background: url(../img/marketing-site/email-popup/imgpsh_fullsize.jpg) no-repeat center center;
}

.email-xs {
    display: none;
    text-align: center;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: 0;
    height: 300px;
    width: 300px;
    z-index: 800;
    background: url(../img/marketing-site/email-popup/imgpsh_fullsize-xs.jpg) no-repeat center center;
}

.email-popup-left-div {
    height: 267px;
}

.email-popup-right-div {
    height: 267px;
    text-align: center;
}

.email-popup-img {
    margin-top: 18px;
    margin-left: 18px;
}

.email-popup-h2 {
    text-shadow: -2px 2px darkslategrey;
    letter-spacing: 1px;
    width: 65%;
    margin: 25px auto 15px;
    color: whitesmoke;
}

.email-popup-h2-xs {
    text-shadow: -2px 2px darkslategrey;
    letter-spacing: 1px;
    width: 65%;
    margin: 15px auto 10px;
    color: whitesmoke;
}

.email-popup-p {
    text-shadow: -1px 1px darkslategrey;
    font-weight: 600;
    width: 65%;
    margin: 10px auto;
    color: whitesmoke;
}

.email-popup-p-xs {
    text-shadow: -1px 1px darkslategrey;
    font-weight: 600;
    width: 270px;
    margin: 10px auto;
    color: whitesmoke;
}

.email-popup-input {
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 18px;
    background-color: whitesmoke;
    border: none;
}

.email-popup-input-xs {
    line-height: 40px;
    height: 40px;
    width: 270px;
    padding-left: 15px;
    background-color: whitesmoke;
    border: none;
}

.email-popup-but {
    height: 40px;
    width: 250px;
    line-height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.email-popup-but-xs {
    height: 40px;
    width: 270px;
    line-height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.e-span {
    color: pink;
}

.email-popup-thanks {
    display: none;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: -370px;
    height: 330px;
    width: 740px;
}

.email-popup-thanks-xs {
    display: none;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    height: 300px;
    width: 300px;
}

.h2-thanks {
    text-shadow: -2px 2px darkslategrey;
    color: whitesmoke;
    margin-top: 120px;
    font-size: 2em;
}

.h2-thanks-xs {
    text-shadow: -2px 2px darkslategrey;
    color: whitesmoke;
    margin-top: 80px;
    font-size: 2em;
}

.p-thanks {
    text-shadow: -1px 1px darkslategrey;
    font-weight: 600;
    color: whitesmoke;
}

.subscribe-form-popup {
    //display: none;
}

@media only screen /*Vertical mobile*/
and (min-device-width : 300px)
and (max-device-width : 767px)
and (orientation:portrait) {

}
