.popup-warning {
    display: flex;
    align-items: center;
}

.pop-warn {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup-warn-div {
    border-top: 1px solid #e9082a;
    border-bottom: 1px solid #e9082a;
    padding-right: 0;
}

.popup-warn-p {
    fond-size: 14px;
    color: #e9082a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.but-close {
    float: right;
    min-width: 0;
    line-height: 26px;
    height: 30px;
    padding: 2px 10px 2px 10px;
}

