.env
*.orig
*.pyc
*.mo
*.db
*.pot
*.map
*.mo
*~
*.pyo
upload/*
logs/*
old_logs/*
local_settings.py
celery_state.db
.project
.pydevproject
.settings
.idea
.sass-cache
node_modules/
apps/contract_specs
uploads/
sitestatic/
static/cache/
static/searchindex/
static/videos/
static/forum/
static/img/free_consult/counter.jpg
static/reports/
static/img/compiled/
static/js/compiled/
static/compiled/
static/css/compiled/
static/css/webtrader/
static/css/uptrader/
static/css/*.min.css
generated_reports/
core
docs/
media/uploads/
apps/routers.py
build
src
mt4/restart_report.log
.coverage
htmlcov/
cover/
bower_components/

# Deploy and other
venv/
*.pgdump
.cache/

.DS_Store
gc.sublime*
.codeintel/config
django-gc-shared/referral/static/banners/
_version.v
*.log
