{% extends "js/my/profile_base.html" %}
{% load i18n app_tags profiles_tags %}

{% block tabs %}
  {% with 'security' as category %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block tabscontent %}
<div class="active security">
  <div class="row offset-bottom-30" equalize="outerHeight">
    <div class="small-6 medium-6 large-6 columns">
      <div class="third-light-wrapper" equalize-me>
        <h3>{% trans "Security settings" %}</h3>
        <p ng-if="!user.profile.otp_type" class="security-info">{% trans "You have no OTP device." %}</p>

        <p ng-if="user.profile.otp_type == 'sms'" class="security-info">{% trans "Currently you use SMS with phone" %}<br><span ng-bind="user.profile.phone_mobile.display"></span></p>

        <p ng-if="user.profile.otp_type == 'otp'" class="security-info">{% trans "Currently you use mobile application" %}</p>

        <button class="button medium" ng-click="changeDevice()" ng-disabled="globalLoading">{% trans "Change device" %}</button>

      </div>
    </div>

    <div class="small-6 medium-6 large-6 columns">
      <div class="third-light-wrapper" equalize-me>
        <h3>{% trans "Password change" %}</h3>
        <form ng-submit="changePassword()">
          <div class="form-item">
            <div class="labels">
              <label class="required">{% trans "Old password" %}</label>
            </div>
            <div class="inputs">
              <input ng-model="oldPassword" type="password">
              <div
                ng-if="errors.old"
                ng-repeat="err in errors.old"
                ng-bind="err"
                class="error">
              </div>
            </div>
          </div>

          <div class="form-item">
            <div class="labels">
              <label class="required">{% trans "New password" %}</label>
            </div>
            <div class="inputs">
              <input ng-model="newPassword" type="password">
              <div
                ng-if="errors.new"
                ng-repeat="err in errors.new"
                ng-bind="err"
                class="error">
              </div>
            </div>
          </div>

          <div class="form-item">
            <div class="labels">
              <label class="required">{% trans "Confirm password" %}</label>
            </div>
            <div class="inputs">
              <input ng-model="confirmNewPassword" type="password">
              <div
                ng-if="errors.confirm"
                ng-repeat="err in errors.confirm"
                ng-bind="err"
                class="error">
              </div>
              <div ng-if="confirmNewPassword !== newPassword" class="error">{% trans "Password confirmation doesn't match new password"%}</div>
            </div>
          </div>

          <div class="row">
            <input type="submit" class="button medium" ng-disabled="globalLoading" value="{% trans "Save" %}">
          </div>
        </form>
      </div>
    </div>
  </div>

  <p easy-slide-block>
    <span class="security-about">{% trans "Why should I set up security settings?" %}</span><span class="arrows"></span>
  </p>
  <div class="security-about-content" content-block>
    {% blocktrans %}
        <p class="offset-bottom-20">
            The following actions will require authentication code, which will be generated using a special mobile app or texted to you via SMS:
        </p>
        <ul class="ul-dashed offset-bottom-20">
            <li>Editing profile data</li>
            <li>Creating or editing withdraw details</li>
            <li>Funds withdrawal</li>
            <li>Internal transfer</li>
            <li>Real account leverage change</li>
            <li>Real account password change</li>
        </ul>
        <p>
            The authentication code will help verify that it is really you who request the operation
            and your account was not stolen. This will help to protect you from money theft.
            The authentication code is generated by a special mobile app or
            is sent to your mobile phone via text message (SMS).
        </p>
    {% endblocktrans %}
  </div>
</div>
{% endblock %}