{% extends "admin/change_form.html" %}
{% load i18n admin_modify profiles_tags shared_tags staticfiles %}

{% block object-tools %}
    <ul class="object-tools">
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
        <li>
            {% if object_id %}
                <a href="{% url 'notification:viewnotification' object_id %}"
                    class="viewsitelink">{% trans "View on site" %}</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}