<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Звонок</title>

        {% block css %}
        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        {% endblock css %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <dl>
                        <dt>ID</dt>
                        <dd>{{cdr.id}}</dd>

                        <dt>Кто</dt>
                        <dd>
                            {% if cdr.user_a %}
                                <a target="_blank" href="{{cdr.user_a.profile.get_amo.get_url}}">{{cdr.source_str}}</a>
                            {% else %}
                                {{cdr.source_str}} ({{cdr.safe_number_a}})
                            {% endif %}
                        </dd>

                        <dt>Кому</dt>
                        <dd>
                            {% if cdr.user_b %}
                                <a target="_blank" href="{{cdr.user_b.profile.get_amo.get_url}}">{{cdr.dest_str}}</a>
                            {% else %}
                                {{cdr.dest_str}} ({{cdr.safe_number_b}})
                            {% endif %}
                        </dd>
                        <dt>Когда</dt>
                        <dd>{{cdr.call_date|date:"DATETIME_FORMAT"}}</dd>

                        <dt>Длительность</dt>
                        <dd>{{cdr.duration}}</dd>

                        <dt>Результат</dt>
                        <dd>{{cdr.disposition}}</dd>

                        <dt>Запись</dt>
                        <dd><audio src="{{cdr.get_record_path}}" controls="controls"></dd>
                    </dl>
                </div>
            </div>
        </div>

        {% block js %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% endblock js %}
    </body>
</html>