{% load staticfiles inbox i18n %}
<div class="stocks-container">

    <h1 class="offset-top-35 offset-bottom-35">{% trans "Downloads centre" %}</h1>

    <div class="row offset-bottom-55">
        <div class="columns small-3">
            <div class="downloads-item po-white-block">
                <div class="header-block">
                    <div class="logo mt4"></div>
                    <div class="header">
                        {% trans "ARUM.MT MetaTrader4" %}
                    </div>
                </div>
                <a href="https://download.mql5.com/cdn/web/9639/mt4/arumcapital4setup.exe" target="_blank" class="download-link icon windows"><span>{% trans "For Windows" %}</span></a>
                <a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=ArumCapital-Demo,ArumCapital-Live5" class="download-link icon apple" target="_blank"><span>{% trans "For iPhone" %}</span></a>
                <a href="https://download.mql5.com/cdn/mobile/mt4/android?server=ArumCapital-Demo,ArumCapital-Live5" class="download-link icon android" target="_blank"><span>{% trans "For Android" %}</span></a>
                <div class="footer-block">
                    {% if LANGUAGE_CODE == 'ru' %}
                    <a href="/static/agreements/instruction_MAC_ru.pdf" class="download-link" target="_blank"><span>{% trans "User's manual Mac (pdf)" %}</span></a>
                    {% else %}
                    <a href="/static/agreements/instruction_MAC_en.pdf" class="download-link" target="_blank"><span>{% trans "User's manual Mac (pdf)" %}</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns small-3">
            <div class="downloads-item po-white-block">
                <div class="header-block">
                    <div class="logo pro"></div>
                    <div class="header">
                        {% trans "ARUM.PRO" %}
                    </div>
                </div>
                <a href="http://download.arumcapital.eu/live/application/ArumProTraderSetup.exe" class="download-link icon windows"><span>{% trans "For real accounts" %}</span></a>
                <a href="http://download.arumcapital.eu/demo/application/ArumProTraderDemoSetup.exe" target="_blank" class="download-link icon windows"><span>{% trans "For demo accounts" %}</span></a>
                <div class="footer-block">
                    {% if LANGUAGE_CODE == "ru" %}
                        <a href="{% static 'agreements/ArumPRO_manual_-_RUSSIAN.pdf' %}" target="_blank" class="download-link"><span>{% trans "User's manual (pdf)" %}</span></a>
                    {% else %}
                        <a href="{% static 'agreements/ArumPRO_manual_-_ENGLISH.pdf' %}" target="_blank" class="download-link"><span>{% trans "User's manual (pdf)" %}</span></a>
                    {% endif %}
                    <a href="{% static 'agreements/ARUMPRO_FIX_API_v._2.5.pdf' %}" target="_blank" class="download-link"><span>{% trans "API description for the FIX protocol (pdf)" %}</span></a>
                </div>
            </div>
        </div>
        <div class="columns small-3">
            <div class="downloads-item po-white-block">
                <div class="header-block">
                    <div class="logo web"></div>
                    <div class="header">
                        {% trans "ARUM.WEB" %}
                    </div>
                </div>
                <a href="https://trade.arumcapital.eu/" target="_blank" class="download-link"><span>{% trans "Go to Real" %}</span></a>
                <a href="https://demo.arumcapital.eu/" target="_blank" class="download-link"><span>{% trans "Go to Demo" %}</span></a>
                {% if LANGUAGE_CODE == "ru" %}
                    <a href="{% static 'agreements/ArumWEB_manual_-_RUSSIAN.pdf' %}" target="_blank" class="download-link"><span>{% trans "Manual (pdf)" %}</span></a>
                {% else %}
                    <a href="{% static 'agreements/ArumWEB_manual_-_ENGLISH.pdf' %}" target="_blank" class="download-link"><span>{% trans "Manual (pdf)" %}</span></a>
                {% endif %}

            </div>
        </div>
        <div class="columns small-3">
            <div class="downloads-item po-white-block">
                <div class="header-block">
                    <div class="logo invest"></div>
                    <div class="header">
                        {% trans "ARUM.Invest" %}
                    </div>
                </div>
                <a href="https://ramm.arumcapital.eu/account" class="download-link" target="_blank"><span>{% trans "Go to platform" %}</span></a>
                <a href="https://ramm.arumcapital.eu/help" class="download-link" target="_blank"><span>{% trans "Help" %}</span></a>
            </div>
        </div>
    </div>
</div>