{% extends "private_office/base.html" %}

{% load i18n app_tags%}

{% block title %}{{ block.super }} — {% trans "Password reset" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset" %}</h1>
  <div class="container">
    {% if validlink %}
      <form method="POST" action=".">
        {% include "includes/form.html" %}
        {% gcbutton "submit" _("Reset") "black" %}
      </form>
    {% else %}
      <div class="note">
        {% trans "Password reset failed" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
