{% extends "private_office/base.html" %}

{% load i18n app_tags staticfiles %}

{% block title %}{{ block.super }} — {% trans "Password reset" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset" %}</h1>
  <div class="container" ng-app="My" ng-controller="RecoverController" ng-strict-di>
      {% if user.is_authenticated %}
        <div class="note warning">
          {% blocktrans %}You're already signed in as <strong>{{ user }}</strong>.{% endblocktrans %}
        </div>
      {% endif %}

      <div class="note">
        {% blocktrans %}
          Forgotten your password? Enter your mobile phone below, and we'll
          send a new one.
        {% endblocktrans %}
        <br>
        {% url "password_reset" as password_reset_link %}
        {% blocktrans %}
          You can also use <a href="{{ password_reset_link }}" style="text-decoration: underline;">password recovery form via E-Mail</a>
        {% endblocktrans %}
      </div>

      <br>

        <form method="POST" id="password-reset-form" ng-submit="sendPassword()">{% csrf_token %}
            <div class="form-item">
                <div>
                    <label for="id_phone">{% trans 'Mobile phone' %}:</label> <span class="required">*</span>
                </div>
                <input id="id_phone" maxlength="75" name="phone" type="text" ng-model="phone">
                <div class="description">+79291234567</div>
            </div>

        <input type="submit" class="button black" value="{% trans 'Reset my password' %}">
    </form>
  </div>


        <script src="{% static 'js/underscore.1.6.0.min.js' %}"></script>
        <script src="{% static 'underscore.string/dist/underscore.string.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/foundation/foundation.min.js' %}"></script>
        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
        <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'ng-file-upload/angular-file-upload.min.js' %}"></script>
        <script src="{% static 'ng-infinite-scroller-origin/build/ng-infinite-scroll.min.js' %}"></script>
        <script src="{% static 'angular-mm-foundation/mm-foundation-tpls.min.js' %}"></script>
        {% with LANGUAGE_CODE|lower as lang %}
            <script src="{% static 'angular-i18n/angular-locale_'|add:lang|add:'.js' %}"></script>
        {% endwith %}
        <script type="text/javascript">
            _.mixin(_.string.exports());
            var CSRFTOKEN = '{{ csrf_token|escapejs }}';
            $(function(){ $("input:first").focus(); });
        </script>

        <script src="{% static 'js/compiled/my.min.js' %}"></script>



{% endblock %}


