{% extends "private_office/base.html" %}

{% load i18n app_tags%}

{% block title %}{{ block.super }} — {% trans "Password reset" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset" %}</h1>
  <div class="container">
  {% if user.is_authenticated %}
    <div class="note warning">
      {% blocktrans %}You're already signed in as <strong>{{ user }}</strong>.{% endblocktrans %}
    </div>
  {% endif %}

  <div class="note">
    {% blocktrans %}
      Forgotten your password? Enter your e-mail address below, and we'll
      e-mail instructions for setting a new one.
    {% endblocktrans %}
    <br>
    {% url "password_reset_by_phone" as password_reset_link %}
    {% blocktrans %}
      You can also use <a href="{{ password_reset_link }}" style="text-decoration: underline;">password recovery form via SMS</a>
    {% endblocktrans %}

  </div>

  <br>

  <form method="POST" id="password-reset-form" action=".">
    {% include "includes/form.html" %}

    {% csrf_token %}
      {% gcbutton "submit" _("Reset my password") "black" 'name="submit"'%}
  </form>
  </div>
{% endblock %}

{% block js %}{{ block.super }}
  <script>
    $(function(){ $("input:first").focus(); })
  </script>
{% endblock %}
