{% load i18n staticfiles app_tags %}
<a class="with-icon link" easy-slide-block default="true">{% trans "Referral link" %}</a>
<div class="content partner-referral" content-block>
  {% include "js/my/_referral_account_select.html" %}
  {% include "js/my/_referral_domain_select.html" %}
  <div class="row">
    <label class="small-3 medium-3 large-3 column">{% trans 'Desired page' %}:</label>
    <p class="small-9 medium-9 large-9 column links">
      <input type="text" class="small-input" ng-model="pageLink"/>
    </p>
  </div>
  <div class="row">
    <label class="small-3 medium-3 large-3 column">{% trans 'Your referral link' %}:</label>
    <p class="small-9 medium-9 large-9 column links">
      <input type="text" class="small-input" readonly ng-value="refLink"/>
      {% trans 'or' %}
      <input type="text" class="small-input" readonly ng-value="refLinkAlt"/>
    </p>
  </div>

  <div class="row">
    <label class="small-3 medium-3 large-3 column">{% trans 'Site page' %}:</label>
    <div class="small-9 medium-9 large-9 column links">
      <div class="small-4 medium-4 large-4 column">
        <div class="select-wrapper small-input">
          <select ng-model="selectedProduct">
            <option value="0" disabled>{% trans "Select product" %}</option>
            <option value="">{% trans "Main page" %}</option>
            <option value="account-types">{% trans "Account types" %}</option>
            <option value="comparison">{% trans "Trading platforms comparison" %}</option>
            <option value="mt4">{% trans "ARUM.MT platform" %}</option>
            <option value="arumpro">{% trans "ARUM.PRO platform" %}</option>
            <option value="arumpro">{% trans "ARUM.WEB platform" %}</option>
            <option value="invest">{% trans "ARUM.Invest platform" %}</option>
            <option value="cms/economic_calendar">{% trans "Economic calendar" %}</option>
            <option value="advantages">{% trans "Client Advantages" %}</option>
          </select>
        </div>
      </div>
      <div class="small-8 medium-8 large-8 column">
        <input type="text" class="small-input" readonly ng-value="productLink"/>
      </div>
    </div>
  </div>


</div>