{% load i18n %}
<div class="small-3 medium-3 large-3 columns">
    {% with field=withdraw_form.account %}
        {% include "payments/includes/field.html" %}
    {% endwith %}
</div>

{% block ps %}{% endblock ps %}

<div class="small-2 medium-2 large-2 columns">
    {% with field=withdraw_form.amount %}
        {% include "payments/includes/field.html" %}
    {% endwith %}
</div>

<div class="small-2 medium-2 large-2 columns">
    {% with field=withdraw_form.currency %}
        {% include "payments/includes/field.html" %}
    {% endwith %}
</div>

{% with form=withdraw_form %}
<div class=" large-3 columns">

    {% include "payments/includes/commision_field.html" %}

</div>
{% endwith %}

<input type="submit" class="button medium" value="{% trans 'Continue' context 'button' %}"/>

{% csrf_token %}
