{% extends "design_2014/private_office/base.html" %}

{% load i18n app_tags%}
{% block title %}{{ block.super }} - {% trans "Support" %}{% endblock %}

{% block content %}
  <h1 class="green">{% trans "Create issue" %}</h1>
  <div class="container">
    <form action="." method="POST" enctype="multipart/form-data">
      {% include "includes/form.html" %}
      {% gcbutton "submit" _("Create issue") "black" 'name="submit"' %}

       <br/>
       {% if LANGUAGE_CODE == 'ru' %}
       <div class="description">{% trans "Probably there is an answer in" %}  <a href="/faq/">{% trans "FAQ" %}</a></div>
       {% endif %}
    </form>
  </div>
{% endblock %}
