{% load i18n %}
{% blocktrans %}
    <ol class="offset-bottom-15">
        <li> Get to any Elexnet terminal; </li>
        <li> Choose "Payment systems" option; </li>
        <li> Choose "HandyBank"; </li>
        <li> Choose "Handy-number"; </li>
        <li>
            Enter Handy-number: 218280 and company's co-number: 5509, in a field "sender's comments"
            enter Your trading account number (login).
        </li>
        <li>
            <strong>Take printed receipt that verifies your payment.</strong>
        </li>
    </ol>
{% endblocktrans %}
