extends marketing_site/layout

- load staticfiles i18n app_tags

block title
  | About | Arum Capital
block content
  .page_head(style="background-image: url({% static 'img/marketing-site/bg/bg-education-webinar.jpg' %})")
    .container
      .row
        .col-xs-12.white-bc
          - breadcrumbs
          h1.page_head__title.page_head__title--white
            | Учебный центр
      .row
        .col-md-12
          div.header-tabs-row
            a.header-tabs.link(href="#")
              | что такое forex
            a.header-tabs.active-header-tabs.link(href="#")
              | Словарь терминов
            a.header-tabs.link(href="#")
              | Обучающие вебинары

  .education-glossary
    .container
      .education-glossary-letter.letter-one
        ul
          li
            a.link(href="#")
              | Абандон
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Изменение риска инвестиций
          li
            a.link(href="#")
              | Изменение риска инвестиций
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
      .education-glossary-letter.letter-two
        ul
          li
            a.link(href="#")
              | Абандон
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Акция роста
      .education-glossary-letter.letter-three
        ul
          li
            a.link(href="#")
              | Абандон
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
      .education-glossary-letter.letter-four
        ul
          li
            a.link(href="#")
              | Абандон
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Акция роста
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Изменение риска инвестиций
          li
            a.link(href="#")
              | Изменение риска инвестиций
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка
          li
            a.link(href="#")
              | Андикаторы Форекс
          li
            a.link(href="#")
              | Американская депозитарная расписка