extends marketing_site/layout

- load staticfiles i18n app_tags

block title
  | {% trans "Margin requirements" %} {{ block.super }}

block content
  .page_head.inout_page_head
    .container
      .row
        .col-xs-12
          - breadcrumbs
          h1.page_head__title
            - trans "Margin requirements"


  .specification
    .container
        .benefits
            .tabs__box.benefits__tabs_box
              for cat in categories
                a.benefits__tabs_box__button.tabs__button(href="{% url 'specifications' cat.slug %}", class=('state-active-tab' if cat == category else ''))
                  .tabs__button__text_box
                    span.tabs__button__text= cat.name

              .specification-search
                form(action=".", method="GET")
                  input(type="text", name="search", value=request.GET.get('search'), placeholder="{% trans 'Search by instrument' %}")
                  input(type="submit")
            span.benefits__info.js-tab-content.state-visible
              .table-responsive.adaptive-table-wrapper
                table.table.adaptive-table
                  tbody
                    tr
                      td.strategies__cell__title
                        - trans "Tools"
                      td
                        span.strategies__cell__title
                          - trans "Margin requirements"
                    for instrument in instruments
                      tr
                        td
                          a(href="{% url 'specification_details' instrument.pk %}")= instrument.instrument
                        td
                          span= instrument.weekday_margin