extends marketing_site/layout

- load staticfiles i18n app_tags

block title
  | Интервью с победительницей конкурса {{ block.super }}

block content
  .page_head.inout_page_head
    .container
      .row
        .col-xs-12
          - breadcrumbs
          h1.page_head__title
            | Интервью с победительницей конкурса

  .news-item-page: .container
    .row
      .col-md-7
        img(src="{% static 'img/marketing-site/bg/bg--happy-people.png' %}", alt="").news-item-image
        .news-item-content
          .col-sm-2
            div.news-item-date
              span.date-day 20
              span.date-month июня
          .col-sm-10.content-text
            p Расскажите о том, как вы стали трейдером. С чего все началось?
            p Началось все с того, что однажды я пришел в гости к другу в тот момент, когда он торговал в МТ4. Тогда он мне сказал, что на Форекс возможно заработать $100 всего за несколько секунд. Помню, я тогда был просто ошарашен. Но мой друг посоветовал мне попробовать торговлю на демо-счете. С тех пор прошло 5 лет и я не пожалел, что решил попробовать. Теперь трейдинг для меня – хороший дополнительный источник дохода. Основной доход у меня от личного бизнеса. В будущем я планирую и дальше развиваться и стать профессионалом.
            p Насколько популярна торговля на финансовых рынках в Пакистане? 
            p Да, я бы сказал, что торговля на финансовых рынках в моей стране очень популярна. Более того, если вы живете в Пакистане, то вы можете быть уверены, что среди ваших друзей или знакомых обязательно найдется человек в той или иной форме связанный с этой сферой. Поэтому, тут можно без труда найти друга или коллегу на работе, чтобы обсудить новую торговую стратегию, посоветоваться с более опытными трейдерами.
      .col-md-4.right-block
          .card.trust_pageblock__card
            h2.page_title.card__title
              | Новости
            a.card__link(href="#")
              span.card__text
                | Проактивная информационная политика со стороны компании&hellip;
              span.card__date
                | 11 апреля 2015
            a.card__link(href="#")
              span.card__text
                | Вебинар "Итоги торговой недели" в еженедельном расписании принятия и управления решений&hellip;
              span.card__date
                | 13 апреля 2015
            a.card__link(href="#")
              span.card__text
                | Вебинар "Итоги торговой недели" в еженедельном расписании принятия и управления решений&hellip;
              span.card__date
                | 13 апреля 2015
            a.arrow_link(href="#")
              | Все новости
