extends marketing_site/layout

- load staticfiles i18n app_tags

block title
  | Ввод/вывод средств | Arum Capital
block content
  .page_head.inout_page_head
    .container
      .row
        .col-xs-12
          - breadcrumbs
          h1.page_head__title
            | EURUSD

  .specification-eurusd
    .container
      .row
        .col-md-9
          .specification-eurusd-info
            p
              | Значение пары выражает количество Долларов США (котируемая валюта), необходимое для покупки 1 Австралийского Доллара (базовая валюта). Каждая валюта в паре имеет свои факторы, оказывающие влияние на котировку пары в целом.
            p
              | Австралийский доллар (знак: $; код: AUD) — валюта Австралийского Союза, включая Острова Рождества, Кокосовых островов и Острова Норфолк, а также независимых тихоокеанских государств Кирибати, Науру и Тувалу. Делится на 100 центов. Обыкновенно сокращается знаком доллара ($), но существуют и другие варианты обозначения: A$, $A, AU$ и $AU.
            p
              | Австралийский доллар является шестой самой торгуемой валютой мира (после доллара США, евро, иены, фунта стерлингов и швейцарского франка), занимая 5 % мировых валютных операций. Популярность среди торговцев валютой вызвана высокой процентной ставкой в Австралии, относительной свободой валютного рынка от правительственного вмешательства, общей стабильностью австралийской экономики и политической системы.
            p
              | Для изготовления банкнот с 1988 года используется не бумага, а специальный тонкий пластик.
          .table-responsive.adaptive-table-wrapper
            table.table.adaptive-table
              tbody
                tr
                  td.strategies__cell__title
                    - trans "Features"
                  td.strategies__cell__title
                    | Значение
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'Currency is a trading tool currency that is used for recording the transactions.' %}")
                      - trans "Currency"
                  td
                    | $1000
                tr
                  td
                    span
                      | Минимальное изменение цены, пункты
                  td
                    | ARUM.MT4
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'Minimum size contract is a minimum size contract of a trading tool' %}")
                      - trans "Minimum size contract"
                  td
                    | Недоступен
                tr
                  td
                    span
                      | Шаг изменения размере контракта/лота
                  td
                    | $25
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'The cost of 1 pip of the minimum size contract – a pip is the fourth digit after the point in a 4-digit quoting system. For instance, in USD/EUR pair a pip would be 0,0001' %}")
                      - trans "The cost of 1 pip of the minimum size contract"
                  td
                    | SWAP
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'A pledge on a business day is the level of the required marginal volume from the opening of the trading week until Friday 20:00 UTC required for opening and sustaining of such position. It is calculated with a formula: Margin level divided by the position volume*100' %}")
                      - trans "Margin Requirement on a business day"
                  td
                    | ARUM.MT4
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'A pledge at the weekend and from 20:00 UTC on Friday - is the level of the required marginal volume from Friday 20:00 UTC until a trading week required for opening and sustaining of such position. It is calculated with a formula: Margin level divided by the position volume*100' %}")
                      - trans "Margin Requirement at the weekend and from 20:00 UTC Friday"
                  td
                    | Недоступен
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'SWAP Long is the cost for rolling over a position to the next day against the minimum size contract in case where a short Sell position on an instrument is kept' %}")
                      | SWAP Long
                  td
                    | $25
                tr
                  td
                    span.tooltip.js-tooltip(title="{% trans 'SWAP Short is the cost for rolling over a position to the next day against the minimum size contract in case where a long Buy position on an instrument is kept' %}")
                      | SWAP Short
                  td
                    | SWAP




