@font-face {
	font-family: 'Lato';
	font-weight: 300;
  src: url('../fonts/lato/lato_300_normal.eot');
  src: url('../fonts/lato/lato_300_normal.woff2') format('woff2'),
       url('../fonts/lato/lato_300_normal.woff') format('woff'),
       url('../fonts/lato/lato_300_normal.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-weight: 400;
  src: url('../fonts/lato/lato_400_normal.eot');
  src: url('../fonts/lato/lato_400_normal.woff2') format('woff2'),
       url('../fonts/lato/lato_400_normal.woff') format('woff'),
       url('../fonts/lato/lato_400_normal.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-weight: 500;
  src: url('../fonts/lato/lato_500_normal.eot');
  src: url('../fonts/lato/lato_500_normal.woff2') format('woff2'),
       url('../fonts/lato/lato_500_normal.woff') format('woff'),
       url('../fonts/lato/lato_500_normal.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-weight: 700;
    src: url('../fonts/lato/lato_600_normal.eot');
    src: url('../fonts/lato/lato_600_normal.woff2') format('woff2'),
         url('../fonts/lato/lato_600_normal.woff') format('woff'),
         url('../fonts/lato/lato_600_normal.ttf') format('truetype');
}