{% load i18n app_tags %}
<tr>
    <td>{{ operation.ticket }}</td>
    <td class="nowrap" title="{{ operation.open_time|timesince }} {% trans "ago" %}">
        {{ operation.open_time|date:"Y.m.d H:i" }}
    </td>
    <td>{{ operation.type }}</td>
    {% if account.group_name == "demostandard_cfh" or account.group_name == "realstandard_cfh" %}
        <td> {{   operation.volume|divide:100000 }}  </td>
    {% else %}
        <td>{{ operation.volume|divide:100 }}</td>
    {% endif %}
    <td>{{ operation.symbol }}</td>
    <td>{{ operation.open_price }}</td>
    <td>{{ operation.sl }}</td>
    <td>{{ operation.tp }}</td>
    <td class="nowrap" title="{{ operation.close_time|timesince }} {% trans "ago" %}">
        {% if operation.close_time == open_operations_date %}
            {% trans "Open" %}
        {% else %}
            {{ operation.close_time|date:"Y.m.d H:i" }}
        {% endif %}
    </td>
    <td>{{ operation.close_price }}</td>
    <td>{{ operation.commission }}</td>
    <td>{{ operation.swap }}</td>
    <td class="nowrap">{{ operation.profit }}</td>
    <td>{{ operation.comment }}</td>
</tr>