{% load i18n %}
{% blocktrans %}
    <ol class="offset-bottom-15">
        <li>
            In any MoneyGram office fill in the blank for the transaction specifying the following data:
            <ul>
                <li> The receiver of transfer: <strong>{{ PAYMENTS_RECEIVER }}</strong>
                    (It is necessary to fill in that field using Capital Latin letters); </li>
                <li> Country of the transfer receiver: Russia; </li>
                <li> City of the transfer receiver: Saint-Petersburg. </li>
            </ul>
        </li>
        <li> Show your ID; </li>
        <li> Put in the sum in cash desk. </li>
        <li> Take copy of the blank with 8-figured referral number of the money transfer; </li>
    </ol>
{% endblocktrans %}
