.specification{
  .benefits{
    .specification-search{
      float: right;
      display: inline-block;
      vertical-align: middle;
      width: 215px;
      position: relative;
      padding: 10px 0;
      input[type="text"]::-webkit-input-placeholder {color:#8d8d8d;font-style: italic;opacity: 1;}
      input[type="text"]::-moz-placeholder          {color:#8d8d8d;font-style: italic;opacity: 1;}/* Firefox 19+ */
      input[type="text"]:-moz-placeholder           {color:#8d8d8d;font-style: italic;opacity: 1;}/* Firefox 18- */
      input[type="text"]:-ms-input-placeholder      {color:#8d8d8d;font-style: italic;opacity: 1;}
      input[type="text"]{
        width: 100%;
        opacity: 0.72;
        color: #000;
        font-size: 15px;
        font-style: normal;
        border: none;
      }
      input[type="submit"]{
        width: 20px;
        height: 21px;
        background: url(../img/marketing-site/icons/icon-margin-search.png) no-repeat center / auto 100%;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 8px;
        right: 0;
      }
    }
    .tabs__box.benefits__tabs_box{
      specification-bottom: 54px;
      display: block;
    }
    table{
      width: 100%;
      background-color: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      .title-border{
        border-bottom: 1px dashed #e8072a;
      }
      tr:first-child{
        td{
          padding-bottom: 16px;
          border-bottom: 0.5px solid #ededed;
        }
      }
      tr:not(:first-child){
        > td:first-child{
          color: #1f5060;
          font-size: 15px;
          font-weight: 600;
        }
      }
      tr{
        td{
          padding-bottom: 20px;
          padding-top: 21px;
          padding-left: 28px;
          width: 20%;
          a{
            text-decoration: none;
            border-bottom: 1px solid rgba(30,60,95,0.4);
          }
        }
      }
      tr:not(:first-child):hover{
        background-color: rgba(228, 228, 228, 0.5);
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 767px){
  .specification{
    .benefits{
      position: relative;
      .specification-search{
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        float: none;
      }
      .tabs__box.benefits__tabs_box{
        specification-top: 25px;
      }
      .benefits__tabs_box__button{
        width: 100%;
      }
      .benefits__tabs_box__button:first-child{
        specification-top: 30px;
      }
      .adaptive-table{
       td:first-child{
        min-width: auto;
      }
    }
  }
}
}

@media(min-width: 768px) and (max-width: 991px){
  .specification{
    .benefits{
      .tabs__box.benefits__tabs_box{
        .benefits__tabs_box__button{
          width: 33%;
        }
      }
    }
  }
}