{% load i18n %}
{% blocktrans %}
    <ol class="offset-bottom-15">
        <li> On the home page www.handybank.ru go to the "Enter the system" section; </li>
        <li> Enter your personal Handy-number and access password; </li>
        <li> Choose 'Service payments' section, then – 'Financial services', then – 'GrandCapital Ltd'; </li>
        <li> Choose payment verification method – 'Handy-code' or 'Handy-key' and execute the transfer; </li>
        <li> In a field "Trading account number" fill in your login (trading account number). </li>
    </ol>
{% endblocktrans %}
