{% extends 'admin/change_list_hidable.html' %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
        var REQUEST_DATA_URL = '{% url "payments_ajax_withdrawrequest_data" %}';
        var REQUEST_UPDATE_URL = '{% url "payments_ajax_withdrawrequest_update" %}';
        var TYPICAL_COMMENTS = {{ json_comments|safe }};
    </script>
    {{ block.super }}
    <style type="text/css">
		label, input { display:block; }
		fieldset { padding:0; border:0; margin-top:25px; }
        div#payment_data table {
            margin-bottom: 13px;
        }
        .change-committed{
            text-decoration: underline;
            color: #5b80b2;
            cursor: pointer;
            background-color: transparent!important;
        }
    </style>
{% endblock %}

{% block content %}{{ block.super }}
    <div id="change-committed-dialog" style="display:none">
        <div id="payment_data">{% blocktrans %}Loading payment data{% endblocktrans %}</div>
    </div>
{% endblock %}
