{% extends "private_office/base.html" %}


{% load i18n %}

{% block content %}

        <h1>{% trans "Email approved successfully" %}</h1>

    <p>{% trans "Спасибо что подписались на рассылку. Ваше первое письмо скоро будет отправлено, а пока Вы можете перейти на главную страницу и продолжить знакомство с ARUM Capital." %}</p>
<div style="padding-top: 20px" align="center">
<span >
    <a style="font-size: 16px; padding: 20px" class="button" href="{% url 'frontpage' %}">{% trans "Go to main page" %}</a>
</span>
</div>

{% endblock %}