{% extends "private_office/base.html" %}


{% load i18n %}

{% block content %}

        <h1>{% trans "Email approved successfully" %}</h1>

    <p>{% trans "Thank you for subscribing to the newsletters. Your first newsletter will be send soon, till that, you can go to main page and continue acquaintance." %}</p>
<div style="padding-top: 20px" align="center">
<span >
    <a style="font-size: 16px; padding: 20px" class="button" href="{% url 'frontpage' %}">{% trans "Go to main page" %}</a>
</span>
</div>

{% endblock %}