{% extends "private_office/base.html" %}

{% load i18n %}

{% block content %}
    {% if unsubscribed %}
        <h2 style="color:#e8072a;text-align:center;font-size:22px;margin-bottom: 60px;">{% trans "You have successfully unsubscribed from the newsletter." %}</h2>
    {% else %}
        <h2 style="color:#e8072a;text-align:center;font-size:22px;margin-bottom: 60px;">{% trans "You successfully resubscribed" %}</h2>
    {% endif %}
    <div class="container">
        {% if unsubscribed %}
            {% if LANGUAGE_CODE == "ru" %}
                <p style="text-align:center;font-weight:bold;margin-bottom: 65px;">Сожалеем, что Вы решили отписаться от рассылки.<br>Большинство полезных материалов Вы также можете найти в <a href="https://ru.arumcapital.eu/blog">блоге компании "Arum Capital"</a>.</p>
            {% else %}
                <p style="text-align:center;font-weight:bold;margin-bottom: 65px;">We are sorry that you decided to unsubscribe from the newsletters.<br>You can also find most useful materials <a href="https://arumcapital.eu/blog">in the company's blog</a>.</p>
            {% endif %}

        {% endif %}
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        {% if unsubscribed %}
        {% else %}
            <div>
                {% blocktrans %}
                    <p>You are now subscribed to our mailing lists again.</p>
                    <p>Thanks!</p>
                    <p>Maybe there are other means of communication more convenient for you?</p>
                {% endblocktrans %}
            </div>
        {% endif %}
        <div style="text-align:center;margin-bottom:20px;">
            {% if request.user.is_authenticated %}
                <a style="font-weight:bold;" href="/account/profile/subscriptions">{% trans "Configuring subscriptions in your Private Office" %}</a>
            {% endif %}
        </div>
        {% if LANGUAGE_CODE == "ru" %}
        <div style="text-align: center;">
            <a class="button" href="https://ru.arumcapital.eu/">{% trans "Main page" %}</a>
        </div>
        {% else %}
        <div style="text-align: center;">
            <a class="button" href="https://arumcapital.eu/">{% trans "Main page" %}</a>
        </div>
        {% endif %}
    </div>
{% endblock %}