$_nav_height: 67px;

.nav{
	position: relative;
	z-index: 15;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	background-color: white;
	height: $_nav_height;
}
.nav__list{
	@include clear_list;

	display: flex;

	height: 100%;
}
.nav__item{
	flex-grow: 1;
	height: 100%;
}
.nav__link{
	@include clear_link;

	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	line-height: $_nav_height;
	text-transform: uppercase;
	text-align: center;
	color: #292929;
	font-size: (14em/16);

	border-bottom: 3px solid transparent;

	transition: border-bottom-color .2s ease, color .2s ease;

	&:hover, &.state-active{
		border-bottom-color: $blood;
		color: $blood;
	}
	.actual-link {
		display: block;
		text-decoration: none; 
	}
}

.nav__subnav_item{
	display: none; //is opened via JS
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

	position: absolute;
	top: $_nav_height;
	left: 0;

	padding-top: 10px;

	background-color: white;
	border-top: 3px solid $blood;

	&--last{
		left: auto;
		right: 0;
	}
}
.nav__subnav_item__list{
	@include clear_list;

	margin: 15px 0;

	border-bottom: 1px solid #ddd;

	&:last-child{
		border-bottom: none;
	}
}
.nav__subnav_item__list__item{
	padding: 0 28px 10px 24px;
}
.nav__subnav_item__list__item__link{
	@include clear_link;
	display: block;
	height: 30px;
	line-height: 30px;

	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: $steel;
	text-align: left;
	white-space: nowrap;

	transition: color .2s ease;

	&:hover{
		color: $warn;
	}
}