.subheader{
	position: relative;
	z-index: 20;

	padding: 16px 0;

	background-color: white;
	border: 1px solid #ddd;

	@media (#{$max_tablets}){
		padding: 37px 0;
	}
	@media (#{$max_ipad}){
		display: none;
	}
}
.subheader__container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:after{
		content: none; //kills Bootstrap grid clearfix
	}
}
.subheader__logo_box{
	display: inline-block;

	height: 79px;
}
.subheader__logo{
	height: 100%;
}
.subheader__live_box{
	@include clear_link;

	position: relative;

	padding-left: 30px;

	font-size: (20em/16);

	&:before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;

		width: (13em/16);
		height: (13em/16);

		box-shadow: 0 0 14.4px 0.6px rgba(142, 240, 64, 0.76);
		border-radius: 50%;

		background: url(#{$other_pics_path}glowing-green-point.png) no-repeat center / 100% auto;

		//transition: box-shadow .4s ease;

		animation: blinking 2s ease infinite;
	}

	&:hover:before{

	}
}
@keyframes blinking {
	0%{
		box-shadow: 0 0 14.4px 0.6px rgba(142, 240, 64, 0.76);
	}
	50%{
		box-shadow: 0 0 15px 2px rgba(142, 240, 64, 1);
	}
	100%{
		box-shadow: 0 0 14.4px 0.6px rgba(142, 240, 64, 0.76);
	}
}

.subheader__buttons_box{

}
.subheader__buttons_box__left_button{
	margin-right: 19px;
}