<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed" ng-class="{'text-muted': is_loading}" style="font-size: 12.7px">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сотрудник</th>
                    <th>Клиент</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="object in objects" ng-click="select(object)">
                    <td>{{ object.creation_ts |momentHumanize }}</td>
                    <td>{{ object.user_name }}</td>
                    <td><a href="{{ object.customer_amo }}" target="_blank">{{ object.customer_name }}</a></td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination pull-left">
            <li ng-class="{disabled: params.page == 1}"><a href="javascript:void(0)" ng-click="goto(1)">&larr;</a></li>
            <li ng-class="{disabled: params.page == 1}"><a href="javascript:void(0)" ng-click="gotoPrev()">&laquo;</a></li>
            <li ng-repeat="i in pagesRange()" ng-class="{active: params.page == i}"><a href="javascript:void(0)" ng-click="goto(i)">{{i}}</a></li>
            <li ng-class="{disabled: params.page == num_pages}"><a href="javascript:void(0)" ng-click="gotoNext()">&raquo;</a></li>
            <li ng-class="{disabled: params.page == num_pages}"><a href="javascript:void(0)" ng-click="goto(num_pages)">&rarr;</a></li>
        </ul>
    </div>
</div>