{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
        var winopen = function(name, url) {
            return window.open(url, name, "resizable,scrollbars,status");
        };
    </script>
    {{ block.super }}
{% endblock %}


{% block object-tools %}
<table>
    <thead>
        <tr>
            <th colspan=3>{% blocktrans %}Awaiting approval (and are possible to withdraw from account){% endblocktrans %}</th>
        </tr>
    </thead>
    {% for ps, currencies_and_values in payments_awaiting.iteritems %}
        {% for curr, value in currencies_and_values.items %}
            <tr>
                <td>{{ps}}</td>
                <td>{{value}}</td>
                <td>{{curr}}</td>
            </tr>
        {% endfor %}
    {% empty %}
        <tr>
            <td colspan=3>{% trans "Empty" %}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}