{% load i18n app_tags staticfiles %}

{% trans "Payment system" as msg context "redirect_button" %}
<div class="text-center">
    <a class="button medium" href="https://qiwi.ru/" target="_top">Перейти</a>
</div>
<br/>
Для того, чтобы оплатить выставленный счет в системе Qiwi, выполните следующие действия:
<br/><br/>
<ol>
    <li>
        Зайдите в свой кошелёк в системе QIWI
    </li>
    <li>
        Выберите пункт "Счета"
    </li>
    <li>
        Найдите счёт от Arum Capital и нажмите "Оплатить"
    </li>
</ol>

<div class="text-center">
    <button class="button medium" onclick="window.history.back(); return false;">{% trans "Back" %}</button>
    <a class="button medium" href="https://qiwi.ru/" target="_top">Перейти</a>
</div>
