{% extends "admin/change_list.html" %}

{% block extrastyle %}{{ block.super }}
  <style type="text/css" media="screen">
    #changelist-filter.expanded h2 {
      background:  url("{{ STATIC_URL }}admin/img/sorting-icons.gif") no-repeat scroll #7CA0C7 97% -47px;
    }

    #changelist-filter.collapsed h2 {
      background:  url("{{ STATIC_URL }}admin/img/sorting-icons.gif") no-repeat scroll #7CA0C7 97% -91px;
    }
  </style>
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript">
    django.jQuery(function(){
      var filter = django.jQuery("#changelist-filter").addClass("expanded");
      filter.children(":first").click(function() {
        filter.children(":not(:first)").toggle()
          .parent().toggleClass("expanded").toggleClass("collapsed");
      });
    });
  </script>
{% endblock %}
