{% load i18n %}
{% blocktrans %}
    <ol class="offset-bottom-15">
        <li>
            In any MIGOM’s bank-partner branch fill in the form to make the transaction. While filling in the blank it is necessary to sign the following data:
            <ul>
                <li> Transfer recipient: <strong>{{ PAYMENTS_RECEIVER }}</strong>; </li>
                <li> Recipient's country: Russia; </li>
                <li> Recipient's city: Saint-Petersburg. </li>
            </ul>
        </li>
        <li> Show your ID; </li>
        <li> Put in the sum in cash desk; </li>
        <li> Take the transaction number consisting of 9 figures from the bank manager; </li>
    </ol>
{% endblocktrans %}
